<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.GradutionProject"
        android:localeConfig="@xml/locale_configs"
        >
        <service android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true"/>
        </service>
        <activity
            android:name=".View.Activity.User.UserDoctorNotesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GradutionProject" />
        <activity
            android:name=".View.Activity.Doctor.DoctorNotesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.AiChatActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.User.UserGuideActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.Doctor.DoctorChatActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.VerifySignUpCodeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.User.UserChatActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.User.UserDoctorChatActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.User.UserDoctorDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.User.UserDoctorSearchActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.User.UserAllDoctorActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.Doctor.DoctorHomeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.User.UserHomeActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".View.Activity.CreateNewPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.VerifyCodeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.SignupActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.OnboardingFourActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.OnboardingThreeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.OnboardingTwoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.OnboardingOneActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>